<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>3x</string>
				<string>3o</string>
				<string>3n</string>
				<string>3pm</string>
				<string>3ssl</string>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iManDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>man page</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>iManDocument</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Man page URL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>man</string>
				<string>x-man-page</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iMan</string>
	<key>CFBundleIconFile</key>
	<string>iMan.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.ktema.iman</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>SUFeedURL</key>
	<string>http://iman-macosx.sourceforge.net/updates.xml</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>M</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Load Man Page</string>
			</dict>
			<key>NSMessage</key>
			<string>loadManpage</string>
			<key>NSPortName</key>
			<string>iMan</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
